body{
  background-color: #049372;
  margin:0;
}


header{
  background-color: #336E7B;
  color: white;

  padding: 10px;
  text-align: center;
  margin-bottom: 50;
  margin-top: 0;
  top: 0;
  left: 0;
  font-family: roboto, sans-serif;
  font-weight: lighter;
  font-size: 15px;
}

#results{
  text-align: center;
  margin-bottom: 50;
  margin-top: 0;
  top: 0;
  left: 0;
  font-family: roboto, sans-serif;
  font-weight: lighter;
  font-size: 15px;
}

textarea {
    border-radius: 10px;
    resize: none;
    border: none;
}

#logo{
  position: relative;
}

#userInfo{
  text-align: right;
}
h2{
  text-align: center;
  position: inherit;

  font-weight: lighter;
}
button{
  text-align: center;
  border: none;
}
