body{
  background-color: darkgreen;
}



header{
  background-color: green;
  color: white;
  position: fixed;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-bottom: 50;
  margin-top: 0;
  top: 0;
  left: 0;
}

textarea {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 10px;
}
