<!DOCTYPE html>
<html>
  <head>
    <title>müs</title>
    <link href="stylesheets/styles.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <!-- <div id = "userInfo">
        {% if current_user %}
        Welcome, {{current_user}}!
        <a href= "{{logout_url}}">Log Out</a><br>
        <a href ="http://localhost:19080/login">Account</a><br>

        {% else %}
        <a href="{{login_url}}">Log In</a><br>
        {% endif %}
      </div> -->
      <h2>müs</h2>
      <img id = "logo" src="images/logo.png" width="100" height"100" alt="müs logo">

      <form method = 'post' action = "/results">
        <textarea rows = '1' cols = '50' name = "artist"></textarea><br>
        <select name = "region">
          <option value = "Region">Region</option>
          <option value = "Latin American ">Latin America</option>
          <option value = "Brazilian ">Brazil</option>
          <option value = "French ">France</option>
          <option value = "German ">Germany</option>
          <option value = "Indian ">India</option>
          <option value = "Japanese ">Japan</option>
          <option value = "Korean ">Korea</option>
          <option value = "African ">Africa</option>
      </select>

        <br>
        <button id = "submit" class = "submit">Submit</button>

      </form>
    </header></p>



    {%if vidId%}

    <div id = results>
    You chose {{artist}} as your favorite artist.<br>
    Here is your customly selected {{region}}song from Youtube, catered to your music taste: <br>

    Song Title: {{title}}<br>
    <!-- Genre: {{genre}} and {{genre1}} -->

      {%if genre1 != " " %}
      Genres: {{genre}} and {{genre1}}

      {%else%}
      Genre: {{genre}}
      {%endif%}

    <div
        data-video= "{{vidId}}"
        data-autoplay="0"
        data-loop="1"
        id="youtube-audio">

    </div><br>
    </div>
    {%else%}

      <div id = welcome>
        <p>Welcome to Project müs! Our mission is to connect the world through music by finding similar songs to your musical taste from a different language and region of the world. Type in your favorite artist and select a region in the world to explore!</p>
      </div>

    {%endif%}



    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="scripts/home.js"></script>
  </body>
</html>
