<!DOCTYPE html>
<html>
  <head>
    <title>müs</title>
    <link href="stylesheets/styles.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div id = "userInfo">
        {% if current_user %}
        Welcome, {{current_user}}!
        <a href= "{{logout_url}}">Log Out</a><br>
        <a href ="http://localhost:15080/login">Account</a><br>

        {% else %}
        <a href="{{login_url}}">Log In</a><br>
        {% endif %}
      </div>

      <img if = "logo" src="images/logo.png" width="100" height"100" alt="müs logo">

      <form method = 'post' action = "/results">
        <textarea rows = '1' cols = '50' name = "artist" placeholder = "Who is your favorite artist?"></textarea><br>
        <input type = "radio" name = "region" value = "Latin American ">Latin America
        <input type = "radio" name = "region" value = "Brasileiro ">Brazil
        <input type = "radio" name = "region" value = "Francais ">France
        <input type = "radio" name = "region" value = "German ">Germany
        <input type = "radio" name = "region" value = "Indian ">India
        <input type = "radio" name = "region" value = "J ">Japan
        <input type = "radio" name = "region" value = "K ">Korea
        <input type = "radio" name = "region" value = "African ">Africa<br>
        <button class = "submit">Submit</button>
      </form>
    </header></p>

    <div id="playlist">

    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="scripts/home.js"></script>
  </body>
</html>
