<!DOCTYPE html>
<html>
  <head>
    <title>müs</title>
    <link href="stylesheets/styles.css" rel="stylesheet">
  </head>
  <body>
    <header>
      LOGO HERE
      <form method="post" action="" >

        <textarea rows = '1' cols = '50' name = "artist" placeholder = "Who is your favorite artist?"></textarea><br>
        <input type = "radio" name = "region" value = "Latin America">Latin America<br>
        <input type = "radio" name = "region" value = "Brazil">Brazil<br>
        <input type = "radio" name = "region" value = "France">France<br>
        <input type = "radio" name = "region" value = "Germany">Germany<br>
        <input type = "radio" name = "region" value = "India">India<br>
        <input type = "radio" name = "region" value = "Japan">Japan<br>
        <input type = "radio" name = "region" value = "Korea">Korea<br>
        <input type = "radio" name = "region" value = "Africa">Africa<br>
        <input type = "submit" name = "Submit">
      </form>
    </header></p>


  </body>
</html>
